@page
@model RestoStockDB1.Pages.Proovedores.IndexModel
>>>>>>> sofia

@{
    ViewData["Title"] = "Index Proovedores";
}

<h1>PROOVEDORES</h1>

<p>
    <a asp-page="Create" class="btn btn-success">CREAR NUEVO</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Proovedores[0].NombreEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proovedores[0].Contacto)  
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proovedores[0].Telefono)  
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proovedores[0].Email)  
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proovedores[0].Direccion)  
            </th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Proovedores)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreEmpresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contacto)  

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)  

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)  

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direccion)  

                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ProovedorId" class="btn btn-danger">Editar</a>
                    <a asp-page="./Delete" asp-route-id="@item.ProovedorId" class="btn btn-danger">Eliminar</a>
                </td>
                <td>
                    <span></span>
                </td>
            </tr>
        }
    </tbody>
</table>
