@page
@model RestoStockDB1.Pages.Platos.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>
<h3>¿Estás seguro que deseas ELIMINAR?</h3>
<div>
    <h4>Plato</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plato.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plato.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plato.PrecioVenta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plato.PrecioVenta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Plato.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Plato.Descripcion)
        </dd>
    </dl>
    <form method="post">
        <input type="hidden" asp-for="Plato.PlatoId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <a asp-page="./Index" class="btn btn-primary">Volver a la lista</a>
    </form>
</div>
